lumen_bck/flows.json
[{"id":"07f1159c4fe8cd3b","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"f51377fe7636a13b","type":"function","z":"07f1159c4fe8cd3b","name":"setFormat","func":"let new_msg = new Object();\nnew_msg.payload = new Object();\nmsg.payload.timestamp = Date.now();\nnew_msg.payload[`${msg.payload.timestamp}`] = msg.payload.lux\nreturn new_msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["627d61a3393537c4","6229186e902aa543"]]},{"id":"627d61a3393537c4","type":"addFirebase","z":"07f1159c4fe8cd3b","firebaseCertificate":"56e5ed8c107bca3c","client_email":"","private_key":"","data":"","childpath":"lux","propertyType":"str","method":"update","newchildpath":"","x":1110,"y":380,"wires":[[]]},{"id":"64670a892bed1ab1","type":"addFirebase","z":"07f1159c4fe8cd3b","firebaseCertificate":"56e5ed8c107bca3c","client_email":"","private_key":"","data":"","childpath":"lux","propertyType":"str","method":"get","newchildpath":"","x":650,"y":540,"wires":[["80e8126a543ab1c4","bdaf69923173ae4c"]]},{"id":"07f3c5dfb3da7fcc","type":"inject","z":"07f1159c4fe8cd3b","name":"inject every 1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":440,"y":540,"wires":[["64670a892bed1ab1"]]},{"id":"eb3947cfde9b403c","type":"comment","z":"07f1159c4fe8cd3b","name":"format { timestamp: lux }","info":"","x":850,"y":320,"wires":[]},{"id":"80e8126a543ab1c4","type":"function","z":"07f1159c4fe8cd3b","name":"sort","func":"const data = msg.payload\nconst entries = Object.entries(data)\nentries.sort((a, b) => Number(a[0])- Number(b[0]))\n\nlet sorted = {}\nentries.forEach(([t, l]) => sorted[t] = l)\n\nmsg.payload = sorted\nmsg.path = \"lux\"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":620,"wires":[["867924cd9e13d7b9"]]},{"id":"867924cd9e13d7b9","type":"function","z":"07f1159c4fe8cd3b","name":"analyze","func":"const data = msg.payload\nconst entries = Object.entries(data)\n\nlet info = {}\ninfo.path = \"info\"\ninfo.method = \"update\"\ninfo.payload = {}\n\nlet c_t = null\nlet c_l = null\nfor (let [t, l] of entries) {\n    if (c_t == null) {\n        [c_t, c_l] = [t, l]\n        continue\n    }\n    if (Number(c_l) < 50 && Number(l) > 50) {\n        info.payload[`${t}`] = \"open\";\n        [c_t, c_l] = [t, l];\n        continue;\n    }\n    if (Number(c_l) > 50 && Number(l) < 50) {\n        info.payload[`${t}`] = \"close\";\n        [c_t, c_l] = [t, l];\n        continue;\n    }\n    [c_t, c_l] = [t, l];\n}\n\nreturn [info, msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":700,"wires":[["0d43c40b2e9186d0","563822c2c84c2d5e"],["d2cbfd8f4f52f1a7"]]},{"id":"0d43c40b2e9186d0","type":"addFirebase","z":"07f1159c4fe8cd3b","firebaseCertificate":"56e5ed8c107bca3c","client_email":"","private_key":"","data":"","childpath":"stat","propertyType":"str","method":"update","newchildpath":"","x":950,"y":700,"wires":[[]]},{"id":"563822c2c84c2d5e","type":"debug","z":"07f1159c4fe8cd3b","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":640,"wires":[]},{"id":"d2cbfd8f4f52f1a7","type":"function","z":"07f1159c4fe8cd3b","name":"trim (500 last entries)","func":"const data = msg.payload\nconst entries = Object.entries(data)\n\nif (entries.length < 500) return null;\n\nconst keep = entries.slice(-500)\nmsg.payload = Object.fromEntries(keep)\nmsg.path = \"lux\"\nmsg.method = \"set\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":780,"wires":[["b5f8271d3b879c34"]]},{"id":"b5f8271d3b879c34","type":"addFirebase","z":"07f1159c4fe8cd3b","firebaseCertificate":"56e5ed8c107bca3c","client_email":"","private_key":"","data":"","childpath":"lux","propertyType":"str","method":"set","newchildpath":"","x":950,"y":780,"wires":[[]]},{"id":"f9f3bb59aaf3b47d","type":"debug","z":"07f1159c4fe8cd3b","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":540,"wires":[]},{"id":"bdaf69923173ae4c","type":"function","z":"07f1159c4fe8cd3b","name":"count","func":"msg.payload = \"In cache: \" + Object.entries(msg.payload).length\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":540,"wires":[["f9f3bb59aaf3b47d"]]},{"id":"6229186e902aa543","type":"debug","z":"07f1159c4fe8cd3b","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":280,"wires":[]},{"id":"f7d5ed0c75ae2f91","type":"aedes broker","z":"07f1159c4fe8cd3b","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"device01/lux","cert":"","key":"","certname":"","keyname":"","persistence_bind":"memory","dburl":"","usetls":false,"x":530,"y":240,"wires":[["004105d8eb61e6ea"],[]]},{"id":"004105d8eb61e6ea","type":"debug","z":"07f1159c4fe8cd3b","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"fab155334c93b33e","type":"mqtt in","z":"07f1159c4fe8cd3b","name":"","topic":"atom01/lux","qos":"2","datatype":"auto-detect","broker":"f81dbf51af1b4833","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":380,"wires":[["f51377fe7636a13b"]]},{"id":"56e5ed8c107bca3c","type":"firebaseCertificate","firebaseurl":"lumen-log-default-rtdb","loginType":"jwt"},{"id":"f81dbf51af1b4833","type":"mqtt-broker","name":"","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]